header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  transition: all ease 0.5s;
  background: transparent;
}

header.black {
  background-color: #141414;
}

.header--logo {
  height: 30px;
}

.header--logo img {
  height: 100%;
}

.header--user {
  height: 40px;
  cursor: pointer;
}

.header--user img {
  height: 100%;
  border-radius: 4px;
}
